/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: sans-serif;
	font-family: 'Muli', sans-serif;
	vertical-align: baseline;
	letter-spacing: .1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	margin: 1em .3em .3em .3em;
	font-size: 1.7em;
	font-family: 'Muli', sans-serif;
}

section {
	margin: 25px;
}


/*ROOT*/

#root {
	width: 100vw;
	height: 100vh
}

/*CLOCK*/

.clock{
  color: white;
  font-family: Orbitron;
  width: 550px;
  height: 94px;
	font-size: 20px;
  border: 2px solid black;
  margin: 0px 20px 20px 20px;
  padding: 10px;
  background-color: orange;
  background-image: url(https://hd.unsplash.com/photo-1445109673451-c511bb51bd17);
  background-size: cover;
  background-position-y: 20%;
}

.clock p{
  margin: 12px;
  display: flex;
  justify-content: space-between;
	flex-direction: row;
}

/*WEATHER*/

.weather{
  font-size: 20px;
  width: 550px;
  height: 94px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
  background-image: url(https://hd.unsplash.com/photo-1429479196389-7d1afeaa2d21);
  background-size: cover;
  background-position-y: 20%;
}

.weather p{
  margin: 8px;
}

.interactive {
	flex-direction: row;
}

/*TABS*/

.tabs-header {
	flex-direction: row;
	width: 100%;
}

.tabs-header > li {
	flex-grow: 1;
	padding: .3em .5em .3em;
	border-radius: 10px 10px 0px 0px;
	border: 2px solid black;
	background-color: yellow;
}
.tabs-header:hover {
	cursor: pointer;
}

.tabs-header .active {
	font-weight: 600;
	border-bottom-color: none;
	color: grey;
}

.tabs-header{
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-between;
	flex-direction: row;
}

.tabs-header > li{
  width: 65px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
}

.tabs-header > li:first-child{
  border-left: 2px solid black;
}

.tabs-header > li:last-child{
  border-right: 2px solid black;
}

.tabs-header > li:hover{
  background-color: black;
  color: white;
}

.tabs-header .active{
  height: 30px;
	font-weight: bold;
}

.tabs > article{
  font-weight: bold;
  color: white;
  height: 192px;
	width: 196px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  background-image: url(https://hd.unsplash.com/photo-1445112098124-3e76dd67983c);
  background-size: cover;
}

body{
  display: flex;
  justify-content: space-around;
}

.interactive{
  display: flex;
  justify-content: space-around;
}

/*AUTOCOMPLETE*/

.autocomplete  {
	color: white;
  width: 191px;
  height: 200px;
  border: 2px solid black;
  padding: 10px;
  background-color: violet;
  background-image: url(https://hd.unsplash.com/6/blurred_lines.jpeg);
  background-size: cover;
  background-position: center;
	flex-wrap: wrap;
	overflow-y: scroll;
	flex-direction: column;
}

.autocomplete > ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before:1.7em;
	-webkit-margin-after:0em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	-webkit-padding-start: 0px;
}

.autocomplete > li:hover {
	cursor: pointer;
}

.autocomplete > input{
  margin: 8px 0px 5px 0px;
  border: 1px solid black;
	position: fixed;
}

.autocomplete li{
  cursor: pointer;
  list-style-type: square;
}

.autocomplete-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.autocomplete-enter.autocomplete-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.autocomplete-leave {
  opacity: 1;
  transform: translateY(0);
}

.autocomplete-leave.autocomplete-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}
