/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Fascinate Inline', cursive;
	vertical-align: baseline;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*ROOT*/

#root {
	width: 100vw;
	height: 100vh;
	background-color: red
}

/*CLOCK*/

.clock {
	flex-direction: column;
	width: 50vw;
	height: 15vh;
	background-color: orange
}

/*TABS*/

.tabs {
	flex-direction: column;
	border-left: 2px black;
	border-right: 2px black;
	border-bottom: 2px black;
	width: 200px;
	height: 300px;
}

.tabs > article {
	background-color: yellow;
	border: 2px solid black;
	width: 100%;
	height: 100%;
	padding: 3px;
}

.tabs-header {
	flex-direction: row;
	width: 100%;
}

.tabs-header > li {
	flex-grow: 1;
	padding: .3em .5em .3em;
	border-radius: 10px 10px 0px 0px;
	border: 2px solid black;
	background-color: yellow;
}
.tabs-header:hover {
	cursor: pointer;
}

.tabs-header .active {
	font-weight: 600;
	border-bottom-color: none;
	color: grey;
}


/*WEATHER*/

.weather {
	width: 50vw;
	height: 15vh;
	background-color: green
}

/*AUTOCOMPLETE*/

.autocomplete > ul {
	background-color: blue;
	width: 30vw;
	height: 300px;
	flex-direction: column;
	flex-wrap: wrap;
	overflow-y: scroll;
}
